<div class="container">
  <h1>Odd Even Game</h1>
  <hr />
  <div class="row">
    <app-game-control
      (secondPassed)="onSecondPassed($event)"
      (gameReset)="onGameReset()"
    ></app-game-control>
  </div>
  <div class="row" *ngFor="let round of roundsPlayed">
    <app-odd
      *ngIf="round.type() === 'odd'; else evenBlock"
      [numberToRender]="round.number"
    ></app-odd>
    <ng-template #evenBlock>
      <app-even [numberToRender]="round.number"></app-even>
    </ng-template>
  </div>
</div>
